@{
    ViewData["Title"] = "Произошла ошибка";
}
<h1>Произошла ошибка</h1>
<p>@ViewBag.ErrorMessage</p>
@if (!string.IsNullOrEmpty(ViewBag.RouteOfException))
{
    <p>Путь: @ViewBag.RouteOfException</p>
}
